@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --primary:#ff303a;
    --black: #000;
    --white: #fff;
    --light-black: #666;
    --hover: rgba(244,244,244,0.8);
    --bg: #f9f9f9;
    --border: 0.1rem solid rgba(0,0,0,0.3);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
:root {
    --primary:#ff303a;
    --black: #000;
    --white: #fff;
    --light-black: #666;
    --hover: rgba(244,244,244,0.8);
    --bg: #f9f9f9;
    --border: 0.1rem solid rgba(0,0,0,0.3);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

section{
    padding: 5rem 9%;
}

/***UTILITIES CLASSES ***/
.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.heading span {
    color: var(--primary);
    border-radius: .5rem;
    padding: 0 1.5rem;
    text-transform: uppercase;
    border: 1px solid var(--primary);
}


/*Header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.header .logo span{
    color: var(--primary);
    text-transform: uppercase;
}

/*ESTE ES EL LOGO DE UF*/
.header .logoUF {
    border-bottom: 1px solid var(--white);
    color: var(--white);
}


.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1.8rem;
    text-transform: uppercase;
    color: var(--white);
}

.header .navbar a:hover {
    color: var(--primary);
    border-bottom: 0.3rem solid var(--primary);
    padding-bottom: .5rem;
}

#menu-btn{
    font-size: 2.5rem;
    color:var(--white);
    display: none;
    cursor: pointer;
}

.header.active .logo{
    color: var(--black);
    border-bottom: 1px solid var(--black);
}

.header.active{
    background: var(--white);
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}
.header.active .navbar a{
    color: var(--black);
}
.header.active .navbar a:hover{
    color: var(--primary);
}
.header.active #menu-btn{
    color: var(--primary);
}

/*HOME*/
.home {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: linear-gradient(rgba(66, 66, 66, 0.9),rgba(58, 48, 48, 0.7)),url(../img/fondoMain.jpg) ;
    background-position: center;
    background-size: cover;
    padding-top: 10rem;
    height: 100vh;
}

.home .content {
    flex: 1 1 45rem;
}


.home .content h3{
    font-size: 5.5rem;
    color: var(--white);
    line-height: 1.8;
    font-family: 'Oswald', sans-serif;
}

.home .content h3 span {
    color: var(--primary);
    font-family: 'Oswald', sans-serif;
}

.home .content p{
    font-size: 2rem;
    color: var(--bg);
    line-height: 1.8;
    padding: 1rem;
}

/*ABOUT*/
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.about .row .image {
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content .title {
    font-size: 3rem;
    color: var(--black);
}
.about .row .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 1.8;
}

.about .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.about .row .content .icons-container .icons{
    flex: 1 1 15rem;
    border-radius: .5rem;
    border: var(--border);
    padding: 1.5rem;
    text-align: center;
}

.about .row .content .icons-container .icons i{
    border-radius: 50%;
    background: var(--bg);
    color: var(--primary);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

.about .row .content .icons-container .icons i h3{
    color: var(--light-black);
    font-size: 1.6rem;
    padding-top: 1rem;
}

/*PRODUCTO*/
.producto .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem, 1fr));
    gap: 1.5rem;
}

.producto .box-container .box{
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.producto .box-container .box img {
    height: 10rem;
}

.producto .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
    padding-top: 1.5rem;
}

.producto .box-container .box p{
    color: var(--light-black);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}

/*EQUIPO*/
.equipo .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
}

.equipo .box-container .box{
    position: relative;
    height: 30rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.equipo .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.equipo .box-container .box span {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 5rem;
    font-weight: bolder;
    color: var(--black);
}

.equipo .box-container .box .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 6rem;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-delay: 0.1s;
}

.equipo .box-container .box:hover .content{
    top: 0;
    opacity: 1;
}

.equipo .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.equipo .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
}

.equipo .box-container .box::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    clip-path: circle(30% at 93% 0);
    transition: 0.3s linear;
}

.equipo .box-container .box:hover::before {
    background: rgba(252, 250, 250, 0.5);
    clip-path: circle(100%);
    filter: blur(5px);
}

/*CONTACTO*/
.contact .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.contact .icons-container .icons {
    padding: 2.5rem;
    text-align: center;
    border: var(--border);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.contact .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--primary);
    background: var(--bg);
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color: var(--black);
    padding: 1rem 0;
    font-size: 2.5rem;
}

.contact .icons-container .icons p{
    color: var(--black);
    line-height: 1.8;
    font-size: 1.6rem;
}

.contact .icons-container .icons a{
    color: var(--black);
}

/*DescargasSS*/

.descargar .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.descargar .row .image {
    flex: 1 1 45rem;
    padding: 2rem;
}
.descargar .row .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}



.descargar .row .content {
    flex: 1 8 45rem;
}

.descargar .row .content .title {
    font-size: 3rem;
    color: var(--black);
}
.descargar .row .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 1.8;
}

.descargar .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}



/*FOOTER*/
.footer{
    background: linear-gradient(rgba(92, 90, 90, 0.7),rgba(0, 0, 0, 0.9));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(23rem, 1fr));
    grid-area: 1.5rem;
    margin-top: 13rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1.5rem 0;
    color: var(--white);
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--white);
}

.footer .box-container .box a i{
    padding-right: 0.5rem;
    color: var(--primary);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit {
    color: var(--white);
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
    padding: 1rem;
}


@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-btn{
        display: initial;
    }
    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        background: rgba(252, 250, 250, 0.5);
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
        backdrop-filter: blur(10px);
    }
    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
    }
    .header .navbar a{

        font-size: 2rem;
        display: block;
        padding: 1rem;
        color: var(--black);
        margin: 1rem;
        border-radius: 0.5rem;
        
    }
    .header .navbar a:hover{
        background: var(--bg);
    }

    .header .content {
        text-align: center;
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
}